@import './scss/wordpress_content.scss', './scss/wordpress_menu_multiple_level.scss', url('https://fonts.googleapis.com/css?family=Kanit');

$green: #8dc63f;
$grey: #adadad;

body {
    background-color: #fff;
    font-family: 'Kanit', sans-serif;
}

.img-responsive {
    display: inline-block !important;
}

.green {
    color: $green;
}

.grey {
    color: $grey;
}

.white {
    color: #fff;
}

.shadow {
    text-shadow: 1px 1px 1px #000;
}

.bg_grey {
    background-color: $grey;
}

.bg_green {
    background-color: $green;
}

.logo_head {
    padding: 10px 0;
}

.btn {
    &.btn-round {
        border-radius: 15px;
    }

    &.btn-white {
        background-color: #fff;
        color: $green;
    }

    &.btn-green {
        background-color: $green;
        color: #fff;
    }

    &.btn-transparent {
        border: 1px solid #fff;
        background: transparent;
    }

    &.btn-green-inv {
        border: 1px solid $green;
        color: $green;
    }
}

.page-title {
    padding: 15px 0px;
    font-weight: bold;
}

.testimonial_info {
    padding: 15px;
}

ul#menu-main {
    list-style: none;
    padding: 0;
    margin: 38px 0 0;
    font-size: 15px;
    font-weight: bold;

    li {
        display: inline-block;
        padding: 15px 25px;
        border-bottom: 5px solid transparent;
        margin: 0px -4px;

        a {
            color: #828282;
            text-decoration: none;
        }

        &.current-menu-item,
        &.current_page_item,
        &.current-post-ancestor,
        &.current-menu-parent,
        &.current-post-parent,
        &:hover {
            border-bottom: 5px solid $green;

            a {
                color: $green;
            }
        }
    }
}

.text-limit {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#home_slide {
    background-color: #828282;
}

#home_aboutus {
    background-color: $green;
    color: #fff;

    .container {
        background-image: url(img/main_about.png);
        padding: 45px 0;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

#home_testimonial {
    padding: 20px 0px;

    .testimonial_logo {
        max-height: 75px;
        margin: 5% 0;
    }

    .testimonial_arrows {
        margin: 20% 0;
        display: inline-block;
    }
}

.top_overlay {
    height: 10px;
    background: url('img/greybar_pattern_top.png') repeat-x bottom;
}

.bottom_overlay {
    height: 10px;
    background: url('img/greybar_pattern_bot.png') repeat-x top;
}

.bg_mountain {
    background: url('img/program_bg.png') bottom center no-repeat;
}

#home_program {
    padding-top: 40px;
    min-height: 530px;
}

#home_program_logo {
    padding-top: 25px;
}

.home_program_detail {
    border-top: 3px solid $green;
}

.home_program_excerpt {
    margin: 15px 0px;
    text-align: justify;
    display: none;

    &.active {
        display: block;
    }
}

.home_program_anchor {
    display: inline-block;
    font-size: 18px;
    margin: 0px 8px 5px;

    &.active,
    &:hover {
        color: $green;
    }
}

.home_address p {
    margin: 0 0 5px;
}

#home_footer {
    padding: 15px 0;
}

.footer_address {
    border-left: 1px solid #fff;

    p {
        margin: 0 0 5px;
    }
}

#social_home {
    padding: 25px 0px 15px;
}

.link_footer a {
    text-decoration: none;
    padding: 16px 0px 0 8px;
    display: inline-block;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.testimonialModal {

    .modal-dialog,
    .modal-content {
        width: 480px;
    }
}

// Honeypot
.form-group {

    &.guestFirstName,
    &.firstName {
        display: none;
        margin: 0px;
    }
}

@media only screen and (max-width: 768px) {
    body::-webkit-scrollbar {
        display: none;
    }

    #home_aboutus .container {
        background-image: none;
    }

    .padding_space_xs {
        padding-right: 15px;
        padding-left: 15px;
    }

    #home_program_logo {
        margin: 35px auto 15px !important;
    }

    .testimonial_logo {
        margin: 15px auto 35px !important;
    }

    .footer_address {
        border-left: none;
    }
}