.multiple_level_menu {
  ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    display: block;
    float: left;
    line-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;

    a {
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
    }
  }

  //.current-menu-item a,
  //.current_page_item a,
  //.current-page-ancestor a,
  //a:hover {
  //  color: #000;
  //  background: #ccc;
  //}

  ul ul {
    display: none;
    position: absolute;
    top: 30px;
  }

  ul ul li {
    float: none;
    width: 150px;
  }

  ul ul li a {
    padding: 5px 10px;
  }

  ul li:hover>ul {
    display: block;
  }

  ul ul li ul {
    left: 150px;
    top: 0;
  }
}